# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_STORE
*.idea
*.got
gitleaks
build
profile

# configs
.gitleaks.toml
cmd/generate/config/gitleaks.toml

# test results
testdata/expected/report/*.got.*

# Test binary
*.out

dist/
