# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_STORE
*.idea
*.got
gitleaks
build

# configs
.gitleaks.toml
cmd/generate/config/gitleaks.toml

# Test binary
*.out

dist/

# Hugo build files (created automatically by VSCode Go extension)
.hugo_build.lock

# Hugo Sitemap.xml files (created automatically by VSCode Go extension)
public/index.xml
public/sitemap.xml
public/categories/index.xml
public/tags/index.xml